.cont
{
    background-color: #e3f9ff;
    width: 100%;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator
{
    padding: 20px;
    background-color: #3a4452;
    border-radius: 10px;
}
.calculator form input{
    border-radius: 10px;
    width: 60px;
    height: 60px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background:transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 6px;
}

 form .display
{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    font-size: 40px;
    box-shadow: none;
    width: 360px;
    background-color: white;
    color: black;
     
} 
.seen
{
    display: none;
}
form input .function
{
    display: block;   
}
@media (max-width: 767px) {
    .calculator form input{
        width: 58px;
    height: 63px;
    margin: 1px;        
    color: black;
    }
     
    .seen
    {
        display: block;
        padding: 6px;
        color: black;
          
    }
    .function
    {
    display: none;   
     }
     form .display  
     {
        /* padding: 0 40px; */
        display: flex;justify-content: center;
     }
     
       form .display input
     {
 
          width: 220px;
        background-color: white;
        color: black;
     } 
     .calculator
{
     padding: 0px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 100vh;
    width: 100%;

     
}
.cont
{
    background-color: #e3f9ff;
    width: 100%;
    height: 100vh;
     
     
}
}
  